In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mplt
import matplotlib as plt
import datetime as dati

In [10]:
dataset = pd.read_csv("./data/friofrio/Train_TP2_Datos_2020-2C.csv", 
            parse_dates = ['Account_Created_Date', 'Opportunity_Created_Date',
                           'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date',
                           'Quote_Expiry_Date', 'Last_Modified_Date','Last_Activity' ])
# Limpio registros con muchos datos faltantes o inutiles
dataset = dataset.drop(columns= ['Prod_Category_A','Product_Category_B','Actual_Delivery_Date','Submitted_for_Approval','Last_Activity','Price','Currency','Brand','Size','Product_Type'])

dataset2 = pd.read_csv("./data/friofrio/Test_TP2_Datos_2020-2C.csv", 
                       parse_dates = ['Account_Created_Date', 'Opportunity_Created_Date',
                                      'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date',
                                      'Quote_Expiry_Date', 'Last_Modified_Date','Last_Activity' ])
# Limpio registros con muchos datos faltantes o inutiles
#dataset = dataset.drop(columns= [Brand','Size','Product_Type'])
dataset2 = dataset2.drop(columns= ['Prod_Category_A','Product_Category_B','Actual_Delivery_Date','Submitted_for_Approval','Last_Activity','Price','Currency','Brand','Size','Product_Type'])

In [11]:
#dataset.columns.intersection(dataset2.columns)
#dataset2.columns.intersection(['Region', 'Territory','Bureaucratic_Code', 'Billing_Country',
#                              'Account_Name','Account_Owner', 'Opportunity_Owner','Quote_Type', 'Delivery_Terms',
#               'Last_Modified_By', 'Product_Family','Product_Name', 'Month', 'Delivery_Quarter'])

dataset2.dtypes

ID                                             int64
Region                                        object
Territory                                     object
Pricing, Delivery_Terms_Quote_Appr             int64
Pricing, Delivery_Terms_Approved               int64
Bureaucratic_Code_0_Approval                   int64
Bureaucratic_Code_0_Approved                   int64
Bureaucratic_Code                             object
Account_Created_Date                  datetime64[ns]
Source                                        object
Billing_Country                               object
Account_Name                                  object
Opportunity_Name                              object
Opportunity_ID                                 int64
Sales_Contract_No                             object
Account_Owner                                 object
Opportunity_Owner                             object
Account_Type                                  object
Opportunity_Type                              object
Quote_Type                                    object
Delivery_Terms                                object
Opportunity_Created_Date              datetime64[ns]
Quote_Expiry_Date                     datetime64[ns]
Last_Modified_Date                    datetime64[ns]
Last_Modified_By                              object
Product_Family                                object
Product_Name                                  object
ASP_Currency                                  object
ASP                                          float64
ASP_(converted)_Currency                      object
ASP_(converted)                              float64
Planned_Delivery_Start_Date           datetime64[ns]
Planned_Delivery_End_Date             datetime64[ns]
Month                                         object
Delivery_Quarter                              object
Delivery_Year                                  int64
TRF                                            int64
Total_Amount_Currency                         object
Total_Amount                                 float64
Total_Taxable_Amount_Currency                 object
Total_Taxable_Amount                         float64
dtype: object

In [12]:
#limpio los datos no finalzizados
dataset = dataset.loc[(dataset['Stage']== 'Closed Won') | (dataset['Stage']== 'Closed Lost')]
dataset['Stage'].value_counts()

Closed Won     9533
Closed Lost    7350
Name: Stage, dtype: int64

In [13]:
#mergeo ambos DS con countes y ganados, en el caso de dataset 2 los cunters y los ganados son siempre 0 así no afectan los promedios.
dataset['ganado']= (dataset['Stage']== 'Closed Won' )
dataset.drop(columns= ['Stage'])
dataset['counter']= 1

dataset2['ganado']= 0
dataset2['counter']= 0

dataset_merge= dataset.append(dataset2).sort_values('Opportunity_Created_Date').reset_index().drop(columns=['index'])
#dataset_merge['counter'].value_counts()
dataset_merge.head()

/home/federico/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

,ASP,ASP_(converted),ASP_(converted)_Currency,ASP_Currency,Account_Created_Date,Account_Name,Account_Owner,Account_Type,Billing_Country,Bureaucratic_Code,...,Source,Stage,TRF,Territory,Total_Amount,Total_Amount_Currency,Total_Taxable_Amount,Total_Taxable_Amount_Currency,counter,ganado
0,0.315,0.35629,USD,EUR,2013-07-27,Account_Name_34,Person_Name_16,Account_Type_5,France,Bureaucratic_Code_4,...,None,Closed Lost,2,France,662287.5,EUR,662287.5,EUR,1,0
1,0.490,0.49000,USD,USD,2014-01-22,Account_Name_272,Person_Name_4,Account_Type_5,Germany,Bureaucratic_Code_3,...,Source_3,Closed Lost,20,Philippines,9803430.0,USD,9803430.0,USD,1,0
2,0.680,0.68000,USD,USD,2013-08-22,Account_Name_359,Person_Name_45,Account_Type_2,United States,Bureaucratic_Code_5,...,None,Closed Lost,0,NW America,170931.6,USD,341863.2,USD,1,0
3,0.680,0.68000,USD,USD,2013-08-22,Account_Name_359,Person_Name_45,Account_Type_2,United States,Bureaucratic_Code_5,...,None,Closed Lost,0,NW America,170931.6,USD,341863.2,USD,1,0
4,0.740,0.74000,USD,USD,2013-08-22,Account_Name_1337,Person_Name_38,Account_Type_2,United States,Bureaucratic_Code_5,...,Source_7,Closed Won,6,None,4395304.0,USD,31410780.0,USD,1,1

In [14]:
categorical = ['Region', 'Territory', 'Product_Name', 'Account_Owner','Bureaucratic_Code','Billing_Country', 
               'Account_Name', 'Opportunity_Owner','Quote_Type', 'Delivery_Terms', 'Product_Family', 
               'Month', 'Delivery_Quarter']
for agrupador in categorical:
    gruped_product = dataset_merge.groupby(agrupador)[['ganado','counter']].cumsum()
    gruped_product[agrupador + '_mean']= np.NaN
    gruped_product.loc[(gruped_product['counter'] != 0), agrupador + '_mean'] = gruped_product.loc[(gruped_product['counter'] != 0), 'ganado']/ gruped_product.loc[(gruped_product['counter'] != 0),'counter']
    gruped_product= gruped_product.rename(columns = {'ganado':(agrupador + '_ganados'), 'counter': (agrupador + '_count') })
    dataset_merge= dataset_merge.join(gruped_product)
    print(gruped_product.shape)

#agrupador = 'Opportunity_Owner' 
#gruped_product = dataset_merge.groupby(agrupador)[['ganado','counter']].cumsum()
#gruped_product[agrupador + '_mean']= np.NaN
#gruped_product.loc[(gruped_product['counter'] != 0), agrupador + '_mean'] = gruped_product.loc[(gruped_product['counter'] != 0), 'ganado']/ gruped_product.loc[(gruped_product['counter'] != 0),'counter']
#gruped_product= gruped_product.rename(columns = {'ganado':(agrupador + '_ganados'), 'counter': (agrupador + '_count') })

#dataset_merge= dataset_merge.join(gruped_product)

(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)
(19434, 3)

In [15]:
dataset_merge.head()

,ASP,ASP_(converted),ASP_(converted)_Currency,ASP_Currency,Account_Created_Date,Account_Name,Account_Owner,Account_Type,Billing_Country,Bureaucratic_Code,...,Delivery_Terms_mean,Product_Family_ganados,Product_Family_count,Product_Family_mean,Month_ganados,Month_count,Month_mean,Delivery_Quarter_ganados,Delivery_Quarter_count,Delivery_Quarter_mean
0,0.315,0.35629,USD,EUR,2013-07-27,Account_Name_34,Person_Name_16,Account_Type_5,France,Bureaucratic_Code_4,...,0.000000,0,1,0.0,0,1,0.0,0,1,0.0
1,0.490,0.49000,USD,USD,2014-01-22,Account_Name_272,Person_Name_4,Account_Type_5,Germany,Bureaucratic_Code_3,...,0.000000,0,1,0.0,0,1,0.0,0,1,0.0
2,0.680,0.68000,USD,USD,2013-08-22,Account_Name_359,Person_Name_45,Account_Type_2,United States,Bureaucratic_Code_5,...,0.000000,0,1,0.0,0,1,0.0,0,1,0.0
3,0.680,0.68000,USD,USD,2013-08-22,Account_Name_359,Person_Name_45,Account_Type_2,United States,Bureaucratic_Code_5,...,0.000000,0,2,0.0,0,1,0.0,0,2,0.0
4,0.740,0.74000,USD,USD,2013-08-22,Account_Name_1337,Person_Name_38,Account_Type_2,United States,Bureaucratic_Code_5,...,0.333333,1,1,1.0,1,1,1.0,1,1,1.0

In [16]:
dataset.dtypes

ID                                             int64
Region                                        object
Territory                                     object
Pricing, Delivery_Terms_Quote_Appr             int64
Pricing, Delivery_Terms_Approved               int64
Bureaucratic_Code_0_Approval                   int64
Bureaucratic_Code_0_Approved                   int64
Bureaucratic_Code                             object
Account_Created_Date                  datetime64[ns]
Source                                        object
Billing_Country                               object
Account_Name                                  object
Opportunity_Name                              object
Opportunity_ID                                 int64
Sales_Contract_No                             object
Account_Owner                                 object
Opportunity_Owner                             object
Account_Type                                  object
Opportunity_Type                              object
Quote_Type                                    object
Delivery_Terms                                object
Opportunity_Created_Date              datetime64[ns]
Quote_Expiry_Date                     datetime64[ns]
Last_Modified_Date                    datetime64[ns]
Last_Modified_By                              object
Product_Family                                object
Product_Name                                  object
ASP_Currency                                  object
ASP                                          float64
ASP_(converted)_Currency                      object
ASP_(converted)                              float64
Planned_Delivery_Start_Date           datetime64[ns]
Planned_Delivery_End_Date             datetime64[ns]
Month                                         object
Delivery_Quarter                              object
Delivery_Year                                  int64
TRF                                            int64
Total_Amount_Currency                         object
Total_Amount                                 float64
Total_Taxable_Amount_Currency                 object
Total_Taxable_Amount                         float64
Stage                                         object
ganado                                          bool
counter                                        int64
dtype: object

# categorical de a pares

In [17]:
for i in range(len(categorical) -1):
    for j in range(i +1, len(categorical)):
        gruped_product = dataset_merge.groupby([categorical[i],categorical[j]])[['ganado','counter']].cumsum()
        gruped_product[categorical[i] + '_'+ categorical[j] + '_mean']= np.NaN
        gruped_product.loc[(gruped_product['counter'] != 0), categorical[i] + '_'+ categorical[j] + '_mean'] = gruped_product.loc[(gruped_product['counter'] != 0), 'ganado']/ gruped_product.loc[(gruped_product['counter'] != 0),'counter']
        gruped_product[categorical[i] + '_'+ categorical[j] + '_mean'] = gruped_product['ganado']/ gruped_product['counter']
        gruped_product= gruped_product.rename(columns = {'ganado':(categorical[i] + '_'+ categorical[j] + '_ganados'), 'counter': (categorical[i] + '_'+ categorical[j] + '_count') })
        dataset_merge= dataset_merge.join(gruped_product)

In [18]:
dataset.dtypes

ID                                             int64
Region                                        object
Territory                                     object
Pricing, Delivery_Terms_Quote_Appr             int64
Pricing, Delivery_Terms_Approved               int64
Bureaucratic_Code_0_Approval                   int64
Bureaucratic_Code_0_Approved                   int64
Bureaucratic_Code                             object
Account_Created_Date                  datetime64[ns]
Source                                        object
Billing_Country                               object
Account_Name                                  object
Opportunity_Name                              object
Opportunity_ID                                 int64
Sales_Contract_No                             object
Account_Owner                                 object
Opportunity_Owner                             object
Account_Type                                  object
Opportunity_Type                              object
Quote_Type                                    object
Delivery_Terms                                object
Opportunity_Created_Date              datetime64[ns]
Quote_Expiry_Date                     datetime64[ns]
Last_Modified_Date                    datetime64[ns]
Last_Modified_By                              object
Product_Family                                object
Product_Name                                  object
ASP_Currency                                  object
ASP                                          float64
ASP_(converted)_Currency                      object
ASP_(converted)                              float64
Planned_Delivery_Start_Date           datetime64[ns]
Planned_Delivery_End_Date             datetime64[ns]
Month                                         object
Delivery_Quarter                              object
Delivery_Year                                  int64
TRF                                            int64
Total_Amount_Currency                         object
Total_Amount                                 float64
Total_Taxable_Amount_Currency                 object
Total_Taxable_Amount                         float64
Stage                                         object
ganado                                          bool
counter                                        int64
dtype: object

# Convertir mondeas

In [19]:
dataset_merge['conversion'] = dataset_merge['ASP_(converted)']/dataset_merge['ASP']

cotizacion = dataset_merge.groupby(['ASP_Currency', 'Opportunity_Created_Date']).agg({'conversion': 'mean'}).reset_index()
#print(dataset[dataset['Stage']== 'Closed Won']['conversion'].value_counts())
cotizacion = cotizacion.rename(columns = {'conversion': 'conversion_diaria'})
cotizacion

dataset_merge= dataset_merge.merge(cotizacion, on = ['ASP_Currency', 'Opportunity_Created_Date'], how = 'left')

dataset_merge

,ASP,ASP_(converted),ASP_(converted)_Currency,ASP_Currency,Account_Created_Date,Account_Name,Account_Owner,Account_Type,Billing_Country,Bureaucratic_Code,...,Product_Family_Month_count,Product_Family_Month_mean,Product_Family_Delivery_Quarter_ganados,Product_Family_Delivery_Quarter_count,Product_Family_Delivery_Quarter_mean,Month_Delivery_Quarter_ganados,Month_Delivery_Quarter_count,Month_Delivery_Quarter_mean,conversion,conversion_diaria
0,0.3150,0.35629,USD,EUR,2013-07-27,Account_Name_34,Person_Name_16,Account_Type_5,France,Bureaucratic_Code_4,...,1,0.000000,0,1,0.000000,0,1,0.000000,1.131079,1.131079
1,0.4900,0.49000,USD,USD,2014-01-22,Account_Name_272,Person_Name_4,Account_Type_5,Germany,Bureaucratic_Code_3,...,1,0.000000,0,1,0.000000,0,1,0.000000,1.000000,1.000000
2,0.6800,0.68000,USD,USD,2013-08-22,Account_Name_359,Person_Name_45,Account_Type_2,United States,Bureaucratic_Code_5,...,1,0.000000,0,1,0.000000,0,1,0.000000,1.000000,1.000000
3,0.6800,0.68000,USD,USD,2013-08-22,Account_Name_359,Person_Name_45,Account_Type_2,United States,Bureaucratic_Code_5,...,1,0.000000,0,2,0.000000,0,1,0.000000,1.000000,1.000000
4,0.7400,0.74000,USD,USD,2013-08-22,Account_Name_1337,Person_Name_38,Account_Type_2,United States,Bureaucratic_Code_5,...,1,1.000000,1,1,1.000000,1,1,1.000000,1.000000,1.000000
5,0.7400,0.74000,USD,USD,2013-08-22,Account_Name_1337,Person_Name_38,Account_Type_2,United States,Bureaucratic_Code_5,...,1,1.000000,1,1,1.000000,2,2,1.000000,1.000000,1.000000
6,0.5500,0.55000,USD,USD,2013-07-28,Account_Name_1711,Person_Name_49,Account_Type_2,Pakistan,Bureaucratic_Code_5,...,1,0.000000,0,1,0.000000,0,1,0.000000,1.000000,1.000000
7,0.7400,0.74000,USD,USD,2013-08-22,Account_Name_1337,Person_Name_38,Account_Type_2,United States,Bureaucratic_Code_5,...,2,1.000000,2,2,1.000000,3,3,1.000000,1.000000,1.000000
8,0.7400,0.74000,USD,USD,2013-08-22,Account_Name_1337,Person_Name_38,Account_Type_2,United States,Bureaucratic_Code_5,...,1,1.000000,1,1,1.000000,4,4,1.000000,1.000000,1.000000
9,0.4200,0.42000,USD,USD,2014-07-11,Account_Name_1190,Person_Name_44,None,Philippines,Bureaucratic_Code_4,...,1,0.000000,0,2,0.000000,4,5,0.800000,1.000000,1.000000
10,1.7000,1.70000,USD,USD,2014-07-11,Account_Name_1190,Person_Name_44,None,Philippines,Bureaucratic_Code_1,...,2,0.000000,0,3,0.000000,4,6,0.666667,1.000000,1.000000
11,0.3700,0.41850,USD,EUR,2013-07-27,Account_Name_533,Person_Name_13,Account_Type_0,Germany,Bureaucratic_Code_4,...,1,1.000000,1,1,1.000000,1,1,1.000000,1.131081,1.131081
12,0.6600,0.66000,USD,USD,2015-04-21,Account_Name_1794,Person_Name_64,Account_Type_5,United States,Bureaucratic_Code_5,...,1,1.000000,2,2,1.000000,1,2,0.500000,1.000000,1.000000
13,1.6000,1.60000,USD,USD,2013-10-03,Account_Name_1797,Person_Name_65,Account_Type_2,Singapore,Bureaucratic_Code_5,...,3,0.000000,0,4,0.000000,4,7,0.571429,1.000000,1.000000
14,1.6000,1.60000,USD,USD,2013-10-03,Account_Name_1797,Person_Name_65,Account_Type_2,Singapore,Bureaucratic_Code_5,...,2,0.000000,0,5,0.000000,1,3,0.333333,1.000000,1.000000
15,1.6000,1.60000,USD,USD,2013-10-03,Account_Name_1797,Person_Name_65,Account_Type_2,Singapore,Bureaucratic_Code_5,...,1,0.000000,0,1,0.000000,0,1,0.000000,1.000000,1.000000
16,1.6000,1.60000,USD,USD,2013-10-03,Account_Name_1797,Person_Name_65,Account_Type_2,Singapore,Bureaucratic_Code_5,...,1,0.000000,0,1,0.000000,0,2,0.000000,1.000000,1.000000
17,1.6000,1.60000,USD,USD,2013-10-03,Account_Name_1797,Person_Name_65,Account_Type_2,Singapore,Bureaucratic_Code_5,...,1,0.000000,0,2,0.000000,0,1,0.000000,1.000000,1.000000
18,1.6000,1.60000,USD,USD,2013-10-03,Account_Name_1797,Person_Name_65,Account_Type_2,Singapore,Bureaucratic_Code_5,...,2,0.000000,0,2,0.000000,0,2,0.000000,1.000000,1.000000
19,0.6700,0.67000,USD,USD,2014-09-17,Account_Name_636,Person_Name_8,Account_Type_5,United States,Bureaucratic_Code_4,...,2,0.500000,2,3,0.666667,4,8,0.500000,1.000000,1.000000
20,0.6700,0.67000,USD,USD,2014-09-17,Account_Name_636,Person_Name_8,Account_Type_5,United States,Bureaucratic_Code_4,...,3,0.666667,2,3,0.666667,4,9,0.444444,1.000000,1.000000
21,NaN,NaN,USD,USD,2014-09-25,Account_Name_491,Person_Name_8,Account_Type_5,United States,Bureaucratic_Code_1,...,1,0.000000,0,1,0.000000,0,3,0.000000,NaN,NaN
22,0.4950,0.49500,USD,USD,2014-05-14,Account_Name_1777,Person_Name_59,Account_Type_2,India,Bureaucratic_Code_4,...,1,0.000000,0,1,0.000000,0,1,0.000000,1.000000,1.000000
23,0.5500,0.55000,USD,USD,2014-01-28,Account_Name_231,Person_Name_49,Account_Type_2,Sri Lanka,Bureaucratic_Code_4,...,1,1.000000,1,6,0.166667,1,2,0.500000,1.000000,1.000000
24,NaN,NaN,USD,USD,2014-10-03,Account_Name_645,Person_Name_3,Account_Type_2,United States,Bureaucratic_Code_1,...,1,0.000000,0,1,0.000000,4,10,0.400000,NaN,1.000000
25,NaN,NaN,USD,USD,2014-10-03,Account_Name_645,Person_Name_3,Account_Type_2,United States,Bureaucratic_Code_1,...,2,0.000000,0,2,0.000000,4,11,0.363636,NaN,1.000000
26,NaN,NaN,USD,USD,2014-10-03,Account_Name_645,Person_Name_3,Account_Type_2,United States,Bureaucratic_Code_1,...,3,0.000000,0,3,0.000000,4,12,0.333333,NaN,1.000000
27,0.5300,0.53000,USD,USD,2014-09-01,Account_Name_733,Person_Name_60,Account_Type_2,India,Bureaucratic_Code_4,...,2,0.500000,1,7,0.142857,1,3,0.333333,1.000000,1.000000
28,0.2700,0.30540,USD,EUR,2013-07-27,Account_Name_34,Person_Name_16,Account_Type_5,France,Bureaucratic_Code_5,...,1,0.000000,0,1,0.000000,0,1,0.000000,1.131111,1.131111
29,0.6895,0.68950,USD,USD,2013-08-22,Account_Name_1409,Person_Name_8,Account_Type_2,United States,Bureaucratic_Code_5,...,1,1.000000,3,4,0.750000,2,4,0.500000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19404,0.3850,0.38500,USD,USD,2019-04-22,Account_Name_1615,Person_Name_9,Account_Type_5,United States,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,0,NaN,1.000000,1.000000
19405,0.3850,0.38500,USD,USD,2019-04-22,Account_Name_1615,Person_Name_9,Account_Type_5,United States,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,0,NaN,1.000000,1.000000
19406,0.3850,0.38500,USD,USD,2019-04-22,Account_Name_1615,Person_Name_9,Account_Type_5,United States,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,0,NaN,1.000000,1.000000
19407,0.3850,0.38500,USD,USD,2019-04-22,Account_Name_1615,Person_Name_9,Account_Type_5,United States,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,0,NaN,1.000000,1.000000
19408,0.3850,0.38500,USD,USD,2019-04-22,Account_Name_1615,Person_Name_9,Account_Type_5,United States,Bureaucratic_Code_4,...,0,NaN,45,144,0.312500,0,5,0.000000,1.000000,1.000000
19409,0.3650,0.36500,USD,USD,2013-07-27,Account_Name_25,Person_Name_8,Account_Type_0,United States,Bureaucratic_Code_4,...,0,NaN,254,332,0.765060,3,39,0.076923,1.000000,1.000000
19410,0.2700,0.30540,USD,EUR,2018-04-19,Account_Name_1379,Person_Name_13,Account_Type_0,Norway,Bureaucratic_Code_2,...,0,NaN,54,68,0.794118,0,2,0.000000,1.131111,1.131096
19411,0.3150,0.35629,USD,EUR,2018-04-19,Account_Name_1379,Person_Name_13,Account_Type_0,Norway,Bureaucratic_Code_2,...,0,NaN,0,0,NaN,0,2,0.000000,1.131079,1.131096
19412,0.2800,0.31671,USD,EUR,2016-05-20,Account_Name_1100,Person_Name_18,Account_Type_2,Belgium,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,2,0.000000,1.131107,1.131096
19413,0.3050,0.30500,USD,USD,2019-01-11,Account_Name_1594,Person_Name_54,Account_Type_2,Thailand,Bureaucratic_Code_4,...,3,1.000000,3,3,1.000000,6,20,0.300000,1.000000,1.000000
19414,0.3400,0.34000,USD,USD,2013-07-28,Account_Name_1075,Person_Name_66,Account_Type_2,Japan,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,0,NaN,1.000000,1.000000
19415,0.7600,0.76000,USD,USD,2017-05-18,Account_Name_1766,Person_Name_9,Account_Type_5,United States,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,0,NaN,1.000000,1.000000
19416,0.3650,0.36500,USD,USD,2013-07-27,Account_Name_25,Person_Name_8,Account_Type_0,United States,Bureaucratic_Code_4,...,0,NaN,254,332,0.765060,0,2,0.000000,1.000000,1.000000
19417,0.2650,0.29974,USD,EUR,2019-01-04,Account_Name_1827,Person_Name_17,Account_Type_0,France,Bureaucratic_Code_5,...,0,NaN,228,327,0.697248,0,0,NaN,1.131094,1.131096
19418,0.3650,0.36500,USD,USD,2013-07-27,Account_Name_25,Person_Name_8,Account_Type_0,United States,Bureaucratic_Code_4,...,0,NaN,254,332,0.765060,0,2,0.000000,1.000000,1.000000
19419,0.2650,0.29974,USD,EUR,2019-01-04,Account_Name_1827,Person_Name_17,Account_Type_0,France,Bureaucratic_Code_5,...,0,NaN,210,299,0.702341,10,19,0.526316,1.131094,1.131096
19420,0.2650,0.29974,USD,EUR,2019-01-04,Account_Name_1827,Person_Name_17,Account_Type_0,France,Bureaucratic_Code_5,...,0,NaN,210,299,0.702341,0,3,0.000000,1.131094,1.131096
19421,0.2650,0.29974,USD,EUR,2019-01-04,Account_Name_1827,Person_Name_17,Account_Type_0,France,Bureaucratic_Code_5,...,0,NaN,210,299,0.702341,0,0,NaN,1.131094,1.131096
19422,0.2650,0.29974,USD,EUR,2019-01-04,Account_Name_1827,Person_Name_17,Account_Type_0,France,Bureaucratic_Code_5,...,0,NaN,228,327,0.697248,0,5,0.000000,1.131094,1.131096
19423,0.2650,0.29974,USD,EUR,2019-01-04,Account_Name_1827,Person_Name_17,Account_Type_0,France,Bureaucratic_Code_5,...,0,NaN,228,327,0.697248,0,0,NaN,1.131094,1.131096
19424,0.3650,0.36500,USD,USD,2013-07-27,Account_Name_25,Person_Name_8,Account_Type_0,United States,Bureaucratic_Code_4,...,0,NaN,254,332,0.765060,0,2,0.000000,1.000000,1.000000
19425,0.4100,0.41000,USD,USD,2018-06-08,Account_Name_768,Person_Name_38,Account_Type_2,United States,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,5,0.000000,1.000000,1.000000
19426,0.4100,0.41000,USD,USD,2018-06-08,Account_Name_768,Person_Name_38,Account_Type_2,United States,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,5,0.000000,1.000000,1.000000
19427,0.3000,0.30000,USD,USD,2017-06-12,Account_Name_1686,Person_Name_13,Account_Type_0,South Africa,Bureaucratic_Code_4,...,0,NaN,7,35,0.200000,0,2,0.000000,1.000000,1.000000
19428,0.5000,0.50000,USD,USD,2018-08-29,Account_Name_1635,Person_Name_9,Account_Type_2,United States,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,3,0.000000,1.000000,1.000000
19429,0.3000,0.33933,USD,EUR,2015-06-17,Account_Name_628,Person_Name_18,Account_Type_2,Belgium,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,10,19,0.526316,1.131100,1.131100
19430,38.0000,0.34163,USD,JPY,2019-02-12,Account_Name_1377,Person_Name_55,Account_Type_0,Japan,Bureaucratic_Code_4,...,0,NaN,0,0,NaN,0,5,0.000000,0.008990,0.008990
19431,44.0000,0.39558,USD,JPY,2017-06-30,Account_Name_1542,Person_Name_50,Account_Type_5,Japan,Bureaucratic_Code_4,...,1,0.000000,0,2,0.000000,10,19,0.526316,0.008990,0.008990
19432,0.3000,0.30000,USD,USD,2017-06-12,Account_Name_1686,Person_Name_13,Account_Type_0,South Africa,Bureaucratic_Code_4,...,0,NaN,54,68,0.794118,0,2,0.000000,1.000000,1.000000
19433,0.2900,0.32802,USD,EUR,2016-03-03,Account_Name_271,Person_Name_18,Account_Type_0,Luxembourg,Bureaucratic_Code_5,...,0,NaN,0,0,NaN,0,5,0.000000,1.131103,1.131103

In [20]:
dataset_merge['conversion'] = dataset_merge.loc[:,'conversion'].fillna(dataset_merge['conversion_diaria'])

In [21]:
dataset_merge = dataset_merge.drop(dataset_merge[dataset_merge['conversion'] == np.inf].index)

In [22]:
dataset_merge.loc[dataset_merge['ASP_Currency'] == 'USD', 'conversion'] = 1
dataset_merge.loc[dataset_merge.ASP_Currency == 'JPY' , 'conversion']= dataset_merge.loc[dataset_merge.ASP_Currency == 'JPY' , 'conversion'].fillna( dataset_merge.loc[dataset_merge.ASP_Currency == 'JPY', 'conversion'].mean())
dataset_merge.loc[dataset_merge.ASP_Currency == 'EUR' , 'conversion']= dataset_merge.loc[dataset_merge.ASP_Currency == 'EUR' , 'conversion'].fillna( dataset_merge.loc[dataset_merge.ASP_Currency == 'EUR', 'conversion'].mean())
dataset_merge['Total_Amount_converted'] = dataset_merge['Total_Amount'] * dataset_merge['conversion']

# diferencias de tiempo

In [23]:
dataset_merge['delta_planed'] = dataset_merge['Planned_Delivery_End_Date'] - dataset_merge['Planned_Delivery_Start_Date']

In [24]:
dataset_merge.dtypes

ASP                                                float64
ASP_(converted)                                    float64
ASP_(converted)_Currency                            object
ASP_Currency                                        object
Account_Created_Date                        datetime64[ns]
Account_Name                                        object
Account_Owner                                       object
Account_Type                                        object
Billing_Country                                     object
Bureaucratic_Code                                   object
Bureaucratic_Code_0_Approval                         int64
Bureaucratic_Code_0_Approved                         int64
Delivery_Quarter                                    object
Delivery_Terms                                      object
Delivery_Year                                        int64
ID                                                   int64
Last_Modified_By                                    object
Last_Modified_Date                          datetime64[ns]
Month                                               object
Opportunity_Created_Date                    datetime64[ns]
Opportunity_ID                                       int64
Opportunity_Name                                    object
Opportunity_Owner                                   object
Opportunity_Type                                    object
Planned_Delivery_End_Date                   datetime64[ns]
Planned_Delivery_Start_Date                 datetime64[ns]
Pricing, Delivery_Terms_Approved                     int64
Pricing, Delivery_Terms_Quote_Appr                   int64
Product_Family                                      object
Product_Name                                        object
                                                ...
Quote_Type_Product_Family_count                      int64
Quote_Type_Product_Family_mean                     float64
Quote_Type_Month_ganados                             int64
Quote_Type_Month_count                               int64
Quote_Type_Month_mean                              float64
Quote_Type_Delivery_Quarter_ganados                  int64
Quote_Type_Delivery_Quarter_count                    int64
Quote_Type_Delivery_Quarter_mean                   float64
Delivery_Terms_Product_Family_ganados                int64
Delivery_Terms_Product_Family_count                  int64
Delivery_Terms_Product_Family_mean                 float64
Delivery_Terms_Month_ganados                         int64
Delivery_Terms_Month_count                           int64
Delivery_Terms_Month_mean                          float64
Delivery_Terms_Delivery_Quarter_ganados              int64
Delivery_Terms_Delivery_Quarter_count                int64
Delivery_Terms_Delivery_Quarter_mean               float64
Product_Family_Month_ganados                         int64
Product_Family_Month_count                           int64
Product_Family_Month_mean                          float64
Product_Family_Delivery_Quarter_ganados              int64
Product_Family_Delivery_Quarter_count                int64
Product_Family_Delivery_Quarter_mean               float64
Month_Delivery_Quarter_ganados                       int64
Month_Delivery_Quarter_count                         int64
Month_Delivery_Quarter_mean                        float64
conversion                                         float64
conversion_diaria                                  float64
Total_Amount_converted                             float64
delta_planed                               timedelta64[ns]
Length: 321, dtype: object

In [25]:
dataset_merge['acount_age'] = dataset_merge['Opportunity_Created_Date'] - dataset_merge['Account_Created_Date']

# features por oportunity ID

In [26]:
#Opportunity_ID
features= ['sum','mean','median','std', 'max', 'min']

dataset_numerico = dataset_merge[['Opportunity_ID','ASP', 'ASP_(converted)', 'TRF', 'Total_Amount', 'Total_Taxable_Amount', 'Total_Amount_converted']]
#ASP                                           float64
#ASP_(converted)                               float64
#TRF                                             int64
#Total_Amount                                  float64
#Total_Taxable_Amount                          float64
#Total_Amount_converted                        float64

features_num= dataset_numerico.groupby('Opportunity_ID').agg(features)
level_0 = features_num.columns.get_level_values(0)
level_1 = features_num.columns.get_level_values(1)
features_num.columns = level_0 + '_' + level_1
features_num.reset_index()
dataset_merge = dataset_merge.join(features_num, on= 'Opportunity_ID', how = 'left')

In [27]:
dataset.dtypes

ID                                             int64
Region                                        object
Territory                                     object
Pricing, Delivery_Terms_Quote_Appr             int64
Pricing, Delivery_Terms_Approved               int64
Bureaucratic_Code_0_Approval                   int64
Bureaucratic_Code_0_Approved                   int64
Bureaucratic_Code                             object
Account_Created_Date                  datetime64[ns]
Source                                        object
Billing_Country                               object
Account_Name                                  object
Opportunity_Name                              object
Opportunity_ID                                 int64
Sales_Contract_No                             object
Account_Owner                                 object
Opportunity_Owner                             object
Account_Type                                  object
Opportunity_Type                              object
Quote_Type                                    object
Delivery_Terms                                object
Opportunity_Created_Date              datetime64[ns]
Quote_Expiry_Date                     datetime64[ns]
Last_Modified_Date                    datetime64[ns]
Last_Modified_By                              object
Product_Family                                object
Product_Name                                  object
ASP_Currency                                  object
ASP                                          float64
ASP_(converted)_Currency                      object
ASP_(converted)                              float64
Planned_Delivery_Start_Date           datetime64[ns]
Planned_Delivery_End_Date             datetime64[ns]
Month                                         object
Delivery_Quarter                              object
Delivery_Year                                  int64
TRF                                            int64
Total_Amount_Currency                         object
Total_Amount                                 float64
Total_Taxable_Amount_Currency                 object
Total_Taxable_Amount                         float64
Stage                                         object
ganado                                          bool
counter                                        int64
dtype: object

# elimino las columnas no propias

In [28]:
filter = dataset2['ID'].tolist()

In [29]:
dataset_merge.shape

(19433, 358)

In [30]:

dataset_merge = dataset_merge.drop(columns=['Region', 'Territory','Bureaucratic_Code','Account_Type', 'Billing_Country', 'Opportunity_Type',
                              'Account_Name','Account_Owner', 'Opportunity_Owner','Quote_Type', 'Delivery_Terms',
                            'Pricing, Delivery_Terms_Quote_Appr',
                            'Sales_Contract_No', 'Opportunity_ID', 'Opportunity_Name','Source ', 'Account_Created_Date',
                            'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved','Pricing, Delivery_Terms_Approved',
               'Last_Modified_By', 'Product_Family','Product_Name', 'Month', 'Delivery_Quarter','ganado','counter',
                            'Total_Taxable_Amount_Currency','Total_Taxable_Amount','Total_Amount_Currency','Total_Amount',
                           'TRF','Delivery_Year','Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'ASP_(converted)_Currency',
                           'ASP_(converted)', 'ASP_Currency', 'ASP', 'Quote_Expiry_Date', 'Last_Modified_Date','Opportunity_Created_Date'])

dataset_merge.shape

(19433, 316)

In [31]:
Test = dataset_merge.loc[dataset_merge['ID'].isin(filter)]
print(Test.shape)
Train = dataset_merge.loc[~dataset_merge['ID'].isin(filter)]
print(Train.shape)

(2551, 316)
(16882, 316)

In [32]:
Test.to_csv('Features_Test_Lucas.csv')
Train.to_csv('Features_Train_Lucas.csv')