In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mplt
import matplotlib as plt
import datetime as dati

# ¿Podemos predecir los resultados en base a la necesidad/aprobación burocrática del precio?

In [137]:
dataset = pd.read_csv("/home/federico/Git/datos-tp2-2c2020/data/friofrio/Train_TP2_Datos_2020-2C.csv",
        parse_dates = ['Account_Created_Date', 'Opportunity_Created_Date',
                       'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date',
                       'Quote_Expiry_Date', 'Last_Modified_Date','Last_Activity' ])
# Limpio registros con muchos datos faltantes o inutiles
dataset = dataset.drop(columns= ['Prod_Category_A',
                                 'Product_Category_B',
                                 'Actual_Delivery_Date',
                                 'Submitted_for_Approval',
                                 'Last_Activity','Price',
                                 'Currency','Brand',
                                 'Size','Product_Type'])

In [138]:
dataset.T

,0,1,2,3,4,5,6,7,8,9,...,16937,16938,16939,16940,16941,16942,16943,16944,16945,16946
ID,27761,27760,27446,16808,16805,16802,16799,27455,24353,24355,...,17683,28767,18324,20827,20830,8781,8786,8792,28561,28318
Region,EMEA,EMEA,Americas,Americas,Americas,Americas,Americas,Americas,Japan,Japan,...,EMEA,EMEA,EMEA,Americas,Americas,EMEA,EMEA,EMEA,Americas,Americas
Territory,None,None,NW America,NW America,NW America,NW America,NW America,NW America,None,None,...,Germany,Germany,Norway,NE America,NE America,Austria,Austria,Austria,NE America,NE America
"Pricing, Delivery_Terms_Quote_Appr",1,0,0,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
"Pricing, Delivery_Terms_Approved",1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,1,1,1,1,1
Bureaucratic_Code_0_Approval,1,0,0,1,1,1,1,1,0,0,...,0,0,0,0,0,1,1,1,1,1
Bureaucratic_Code_0_Approved,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,1,1
Bureaucratic_Code,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_5,Bureaucratic_Code_5,Bureaucratic_Code_5,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_5,...,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_5,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_4
Account_Created_Date,2015-06-16 00:00:00,2015-06-16 00:00:00,2015-04-21 00:00:00,2013-07-27 00:00:00,2013-07-27 00:00:00,2013-07-27 00:00:00,2013-07-27 00:00:00,2015-04-21 00:00:00,2015-04-20 00:00:00,2015-04-20 00:00:00,...,2013-07-27 00:00:00,2015-12-04 00:00:00,2013-07-27 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2016-01-15 00:00:00,2016-01-15 00:00:00,2016-01-15 00:00:00,2015-10-20 00:00:00,2015-09-03 00:00:00
Source,None,None,Source_7,Source_11,Source_11,Source_11,Source_11,Source_7,None,None,...,Source_9,None,Source_9,None,None,Source_7,Source_7,Source_7,None,None
Billing_Country,Netherlands,Netherlands,United States,United States,United States,United States,United States,United States,Japan,Japan,...,Germany,Germany,Germany,Germany,Germany,Austria,Austria,Austria,United States,United States
Account_Name,Account_Name_619,Account_Name_619,Account_Name_1794,Account_Name_1201,Account_Name_1201,Account_Name_1201,Account_Name_1201,Account_Name_1794,Account_Name_1888,Account_Name_1888,...,Account_Name_533,Account_Name_586,Account_Name_533,Account_Name_404,Account_Name_404,Account_Name_726,Account_Name_726,Account_Name_726,Account_Name_944,Account_Name_1401
Opportunity_Name,Opportunity_Name_12598,Opportunity_Name_12600,Opportunity_Name_469,Opportunity_Name_415,Opportunity_Name_851,Opportunity_Name_939,Opportunity_Name_1618,Opportunity_Name_8227,Opportunity_Name_6151,Opportunity_Name_6151,...,Opportunity_Name_4060,Opportunity_Name_5088,Opportunity_Name_7202,Opportunity_Name_11979,Opportunity_Name_11979,Opportunity_Name_9245,Opportunity_Name_9245,Opportunity_Name_9245,Opportunity_Name_5843,Opportunity_Name_9911
Opportunity_ID,0,1,2,3,4,5,6,7,8,8,...,12797,12798,12799,12800,12800,12801,12801,12801,12802,12803
Sales_Contract_No,None,39,760,None,None,None,None,None,None,None,...,None,None,224,None,None,44,44,44,None,None
Account_Owner,Person_Name_51,Person_Name_51,Person_Name_64,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_64,Person_Name_50,Person_Name_50,...,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_3,Person_Name_3
Opportunity_Owner,Person_Name_18,Person_Name_20,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_50,Person_Name_50,...,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_3,Person_Name_3
Account_Type,Account_Type_2,Account_Type_2,Account_Type_5,Account_Type_5,Account_Type_5,Account_Type_5,Account_Type_5,Account_Type_5,Account_Type_2,Account_Type_2,...,Account_Type_0,Account_Type_2,Account_Type_0,Account_Type_5,Account_Type_5,Account_Type_5,Account_Type_5,Account_Type_5,Account_Type_5,Account_Type_5
Opportunity_Type,Opportunity_Type_1,Opportunity_Type_1,Opportunity_Type_1,Opportunity_Type_19,Opportunity_Type_19,Opportunity_Type_19,Opportunity_Type_19,Opportunity_Type_1,Opportunity_Type_7,Opportunity_Type_7,...,Opportunity_Type_8,Opportunity_Type_19,Opportunity_Type_1,Opportunity_Type_19,Opportunity_Type_19,Opportunity_Type_1,Opportunity_Type_1,Opportunity_Type_1,Opportunity_Type_1,Opportunity_Type_19
Quote_Type,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,...,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding
Delivery_Terms,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_4,Delivery_Terms_1,Delivery_Terms_1,Delivery_Terms_1,Delivery_Terms_4,Delivery_Terms_4,Delivery_Terms_4,Delivery_Terms_4,...,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_4,Delivery_Terms_4,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_4,Delivery_Terms_4
Opportunity_Created_Date,2015-12-07 00:00:00,2015-12-07 00:00:00,2015-12-08 00:00:00,2015-12-08 00:00:00,2015-12-08 00:00:00,2015-12-08 00:00:00,2015-12-08 00:00:00,2015-12-09 00:00:00,2015-12-09 00:00:00,2015-12-09 00:00:00,...,2015-12-04 00:00:00,2015-12-04 00:00:00,2015-12-04 00:00:00,2015-12-04 00:00:00,2015-12-04 00:00:00,2015-12-04 00:00:00,2015-12-04 00:00:00,2015-12-04 00:00:00,2015-12-05 00:00:00,2015-12-05 00:00:00
Quote_Expiry_Date,2016-01-30 00:00:00,2016-01-20 00:00:00,2016-09-30 00:00:00,NaT,2017-06-02 00:00:00,2017-06-02 00:00:00,NaT,2016-01-07 00:00:00,NaT,NaT,...,2016-01-03 00:00:00,2016-02-05 00:00:00,2016-04-03 00:00:00,2016-01-15 00:00:00,2016-01-15 00:00:00,NaT,NaT,NaT,2016-02-29 00:00:00,2016-01-06 00:00:00
Last_Modified_Date,2016-06-13 00:00:00,2016-01-15 00:00:00,2016-09-29 00:00:00,2018-03-27 00:00:00,2018-03-27 00:00:00,2018-03-27 00:00:00,2016-10-07 00:00:00,2015-12-09 00:00:00,2016-04-05 00:00:00,2016-04-05 00:00:00,...,2015-12-18 00:00:00,2016-10-21 00:00:00,2016-04-01 00:00:00,2016-10-10 00:00:00,2016-10-10 00:00:00,2016-01-19 00:00:00,2016-01-19 00:00:00,2016-01-19 00:00:00,2016-01-22 00:00:00,2016-09-28 00:00:00
Last_Modified_By,Person_Name_18,Person_Name_20,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_8,Person_Name_50,Person_Name_50,...,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_3,Person_Name_3
Product_Family,Product_Family_77,Product_Family_77,Product_Family_81,Product_Family_209,Product_Family_209,Product_Family_209,Product_Family_164,Product_Family_143,Product_Family_6,Product_Family_4,...,Product_Family_77,Product_Family_85,Product_Family_77,Product_Family_164,Product_Family_158,Product_Family_85,Product_Family_85,Product_Family_85,Product_Family_158,Product_Family_164
Product_Name,Product_Name_99,Product_Name_100,Product_Name_91,Product_Name_432,Product_Name_432,Product_Name_432,Product_Name_308,Product_Name_251,Product_Name_6,Product_Name_4,...,Product_Name_96,Product_Name_110,Product_Name_96,Product_Name_307,Product_Name_286,Product_Name_111,Product_Name_111,Product_Name_111,Product_Name_287,Product_Name_307
ASP_Currency,EUR,EUR,USD,USD,USD,USD,USD,USD,JPY,JPY,...,EUR,EUR,EUR,USD,USD,EUR,EUR,EUR,USD,USD
ASP,0.52,0.53,0.48,0.53,0.53,0.53,0.38,0.48,NaN,NaN,...,0.53,0.47,0.515,0.53,0.53,0.52,0.52,0.52,0.6375,0.64
ASP_(converted)_Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,...,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
ASP_(converted),0.58817,0.59948,0.48,0.53,0.53,0.53,0.38,0.48,NaN,NaN,...,0.59948,0.53161,0.58251,0.53,0.53,0.58817,0.58817,0.58817,0.6375,0.64
Planned_Delivery_Start_Date,2016-05-01 00:00:00,2016-01-18 00:00:00,2016-01-25 00:00:00,2018-02-01 00:00:00,2018-02-01 00:00:00,2018-02-01 00:00:00,2017-02-01 00:00:00,2016-01-25 00:00:00,2016-02-29 00:00:00,2016-02-29 00:00:00,...,2016-02-01 00:00:00,2016-08-15 00:00:00,2016-04-01 00:00:00,2016-10-03 00:00:00,2016-10-03 00:00:00,2016-03-21 00:00:00,2016-04-04 00:00:00,2016-03-28 00:00:00,2016-04-25 00:00:00,2016-07-01 00:00:00
Planned_Delivery_End_Date,2016-06-30 00:00:00,2016-01-20 00:00:00,2016-01-25 00:00:00,2018-03-31 00:00:00,2018-02-28 00:00:00,2018-03-31 00:00:00,2017-05-01 00:00:00,2016-01-25 00:00:00,2016-02-29 00:00:00,2016-02-29 00:00:00,...,2016-02-29 00:00:00,2016-09-30 00:00:00,2016-04-21 00:00:00,2016-12-30 00:00:00,2016-12-30 00:00:00,2016-03-25 00:00:00,2016-04-08 00:00:00,2016-03-31 00:00:00,2016-04-29 00:00:00,2016-08-31 00:00:00
Month,2016 - 5,2016 - 1,2016 - 1,2018 - 2,2018 - 2,2018 - 2,2017 - 2,2016 - 1,2016 - 2,2016 - 2,...,2016 - 2,2016 - 8,2016 - 4,2016 - 10,2016 - 10,2016 - 3,2016 - 4,2016 - 3,2016 - 4,2016 - 7
Delivery_Quarter,Q2,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,...,Q1,Q3,Q2,Q4,Q4,Q1,Q2,Q1,Q2,Q3
Delivery_Year,2016,2016,2016,2018,2018,2018,2017,2016,2016,2016,...,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016
TRF,10,0,0,14,25,28,7,0,0,0,...,1,3,1,20,20,0,0,0,4,40
Total_Amount_Currency,EUR,EUR,USD,USD,USD,USD,USD,USD,JPY,JPY,...,EUR,EUR,EUR,USD,USD,EUR,EUR,EUR,USD,USD
Total_Amount,5.2728e+06,48230,83865.6,7.42188e+06,1.33572e+07,1.48383e+07,2.65949e+06,50688,15600,4400,...,413400,1.30778e+06,401700,1.07516e+07,1.05809e+07,103350,93015,103350,2.3468e+06,2.56032e+07
Total_Taxable_Amount_Currency,EUR,EUR,USD,USD,USD,USD,USD,USD,JPY,JPY,...,EUR,EUR,EUR,USD,USD,EUR,EUR,EUR,USD,USD
Total_Taxable_Amount,5.2728e+06,48230,83865.6,7.42188e+06,1.33572e+07,1.48383e+07,2.65949e+06,50688,470400,470400,...,528919,1.30778e+06,401700,2.13325e+07,2.13325e+07,299715,299715,299715,0,0
Stage,Closed Lost,Closed Won,Closed Won,Closed Lost,Closed Lost,Closed Lost,Closed Lost,Closed Won,Closed Lost,Closed Lost,...,Closed Won,Closed Lost,Closed Won,Closed Lost,Closed Lost,Closed Won,Closed Won,Closed Won,Closed Lost,Closed Lost

In [50]:
pricing_approval = \
    dataset[['Pricing, Delivery_Terms_Quote_Appr', 'Pricing, Delivery_Terms_Approved', 'Stage']]

In [139]:
stages = dataset[['Stage', 'ID']].groupby(['Stage']).count().rename(columns = {'ID': 'count'}).reset_index()
stages

           Stage  count
0    Closed Lost   7350
1     Closed Won   9533
2    Negotiation     18
3       Proposal     35
4  Qualification     11

In [162]:
stages = stages.loc[stages['count'] > 50]
stages['count_vs_total'] = stages['count']/stages['count'].sum()
stages

/home/federico/.local/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         Stage  count  count_vs_total
0  Closed Lost   7350        0.435349
1   Closed Won   9533        0.564651

In [163]:
entropia_stages = - (stages['count_vs_total']*np.log2(stages['count_vs_total'])).sum()
entropia_stages

0.9879060159878779

In [164]:
required_approval_stages = dataset[['Stage', 'ID', 'Pricing, Delivery_Terms_Quote_Appr']]\
    .groupby(['Stage', 'Pricing, Delivery_Terms_Quote_Appr']).count().reset_index()\
    .rename(columns = {'ID':'count', 'Closed Won':'Aprobados'})
#required_approval_stages
required_approval_stages = required_approval_stages.pivot_table(index = 'Pricing, Delivery_Terms_Quote_Appr',\
                                    columns = 'Stage',\
                                    values = 'count')\
                                                   .fillna(0).reset_index()
required_approval_stages = required_approval_stages.drop(['Negotiation','Proposal','Qualification'], axis = 1)

required_approval_stages

Stage  Pricing, Delivery_Terms_Quote_Appr  Closed Lost  Closed Won
0                                       0       1136.0      2118.0
1                                       1       6214.0      7415.0

In [ ]:
#entropia de Pricing, Delivery_Terms_Quote_Appr

In [107]:
approval = pd.get_dummies(pricing_approval, \
        columns=['Pricing, Delivery_Terms_Quote_Appr', 'Pricing, Delivery_Terms_Approved'])\
        .groupby('Stage').sum()

In [108]:
approval.T

Stage,Closed Lost,Closed Won,Negotiation,Proposal,Qualification
"Pricing, Delivery_Terms_Quote_Appr_0",1136.0,2118.0,0.0,0.0,0.0
"Pricing, Delivery_Terms_Quote_Appr_1",6214.0,7415.0,18.0,35.0,11.0
"Pricing, Delivery_Terms_Approved_0",3907.0,3129.0,1.0,9.0,11.0
"Pricing, Delivery_Terms_Approved_1",3443.0,6404.0,17.0,26.0,0.0

In [109]:
approval = approval.T

approval['Oportunidades no ganadas'] = \
    approval['Closed Lost'] + approval['Negotiation'] + approval['Proposal'] + approval['Qualification']

approval = approval.rename(columns = {'Closed Won' : 'Oportunidades ganadas'})

approval = approval.drop(columns = ['Closed Lost', 'Negotiation', 'Proposal', 'Qualification'])

approval

Stage,Oportunidades ganadas,Oportunidades no ganadas
"Pricing, Delivery_Terms_Quote_Appr_0",2118.0,1136.0
"Pricing, Delivery_Terms_Quote_Appr_1",7415.0,6278.0
"Pricing, Delivery_Terms_Approved_0",3129.0,3928.0
"Pricing, Delivery_Terms_Approved_1",6404.0,3486.0

In [110]:
oportunidades_totales = approval.sum()
oportunidades_totales

Stage
Oportunidades ganadas       19066.0
Oportunidades no ganadas    14828.0
dtype: float64

In [98]:
oportunidades_totales.sum()

33894.0

In [119]:
resultados_vs_totales = pd.DataFrame(data= oportunidades_totales).T

resultados_vs_totales['Oportunidades ganadas'] = 19066.0/33894.0
resultados_vs_totales['Oportunidades no ganadas'] = 14828.0/33894.0

resultados_vs_totales['entropia'] = -(resultados_vs_totales['Oportunidades ganadas']*np.log2(resultados_vs_totales['Oportunidades ganadas']) + resultados_vs_totales['Oportunidades no ganadas']*np.log2(resultados_vs_totales['Oportunidades no ganadas']))

resultados_vs_totales

Stage  Oportunidades ganadas  Oportunidades no ganadas  entropia
0                   0.562518                  0.437482  0.988693

In [120]:
approval

Stage,Oportunidades ganadas,Oportunidades no ganadas
"Pricing, Delivery_Terms_Quote_Appr_0",2118.0,1136.0
"Pricing, Delivery_Terms_Quote_Appr_1",7415.0,6278.0
"Pricing, Delivery_Terms_Approved_0",3129.0,3928.0
"Pricing, Delivery_Terms_Approved_1",6404.0,3486.0

In [67]:
approval['ganadas_vs_totales'] = approval['Oportunidades ganadas']/oportunidades_totales.sum()
approval['no ganadas_vs_totales'] = approval['Oportunidades no ganadas']/oportunidades_totales.sum()
approval

Stage,Oportunidades ganadas,Oportunidades no ganadas,ganadas_vs_totales,no ganadas_vs_totales
"Pricing, Delivery_Terms_Quote_Appr_0",2118.0,1136.0,0.062489,0.033516
"Pricing, Delivery_Terms_Quote_Appr_1",7415.0,6278.0,0.218770,0.185225
"Pricing, Delivery_Terms_Approved_0",3129.0,3928.0,0.092317,0.115891
"Pricing, Delivery_Terms_Approved_1",6404.0,3486.0,0.188942,0.102850

In [58]:
approval['entropia'] = \
-(approval['ganadas_vs_totales']*np.log2(approval['ganadas_vs_totales']) + approval['no ganadas_vs_totales']*np.log2(approval['ganadas_vs_totales']))

approval

Stage,Oportunidades ganadas,Oportunidades no ganadas,ganadas_vs_totales,no ganadas_vs_totales,entropia
"Pricing, Delivery_Terms_Quote_Appr_0",2118.0,1136.0,0.062489,0.033516,0.384045
"Pricing, Delivery_Terms_Quote_Appr_1",7415.0,6278.0,0.218770,0.185225,0.885763
"Pricing, Delivery_Terms_Approved_0",3129.0,3928.0,0.092317,0.115891,0.715664
"Pricing, Delivery_Terms_Approved_1",6404.0,3486.0,0.188942,0.102850,0.701464

In [57]:
np.log2(approval['ganadas_vs_totales'])

Pricing, Delivery_Terms_Quote_Appr_0   -4.000255
Pricing, Delivery_Terms_Quote_Appr_1   -2.192511
Pricing, Delivery_Terms_Approved_0     -3.437256
Pricing, Delivery_Terms_Approved_1     -2.403985
Name: ganadas_vs_totales, dtype: float64